@import url("https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:ital,wght@0,400;0,600;1,400;1,600&family=Barlow+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=Barlow+Semi+Condensed:ital,wght@0,500;0,600;1,500;1,600&family=Barlow:ital,wght@0,400;0,600;1,400;1,600&family=Commissioner:wght@400;500;700;800&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,wght@0,700;0,900;1,700;1,900&family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Franklin:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&family=Manrope:wght@600;800&family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@300;400;600&family=Overpass:ital,wght@0,300;0,600;1,300;1,600&family=Poppins:ital,wght@0,600;1,600&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Space+Mono:ital,wght@0,400;0,700;1,700&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

input,
button,
select,
textarea {
  font: inherit;
}

img,
picture {
  display: block;
  max-width: 100%;
}

/* remove animation for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1440px;
}

/* ========================================================================== */
/*                                    .HEAD                                   */
/* ========================================================================== */
.head {
  width: 100%;
  padding: 3rem 5rem;
  background: #edfbfe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  background-image: url(../images/bg-hero-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.head-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.head-title button {
  padding: 0.8rem 3rem;
  border-radius: 100px;
  background: #ffffff;
  color: #637c84;
  font-weight: 700;
  border: none;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.449);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.449);
  cursor: pointer;
}

.head-title button:hover {
  opacity: 0.7;
}

.head-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.head-info .info-text {
  width: 80%;
}

.head-info .info-text h2 {
  font-family: "Poppins", sans-serif;
  color: #02262f;
  font-size: 2.4rem;
}

.head-info .info-text p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #637c84;
  padding: 1rem 0;
}

.head-info .info-text button {
  padding: 0.5rem 2.3rem;
  border-radius: 100px;
  background: #e652b2;
  color: white;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  border: none;
  cursor: pointer;
}

.head-info .info-text button:hover {
  opacity: 0.8;
}

/* ========================================================================== */
/*                                    .MAIN                                   */
/* ========================================================================== */
.main {
  position: relative;
  width: 100%;
  padding: 5rem 4rem;
  padding-bottom: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.main-block {
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.197);
          box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.197);
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 6rem;
}

.main-block .block-title {
  width: 60%;
}

.main-block .block-title h3 {
  font-size: 2rem;
  color: #07272c;
  padding: 1rem 0;
}

.main-block .block-title p {
  color: #637c84;
}

.main-block .block-img {
  width: 60%;
}

.block2 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.main-build {
  position: absolute;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 4rem 3rem;
  width: 75%;
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.163);
          box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.163);
}

.main-build button {
  padding: 1rem 4rem;
  background: #ff9bdb;
  color: white;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.374);
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.374);
  cursor: pointer;
}

.main-build button:hover {
  opacity: 0.8;
}

/* ========================================================================== */
/*                                    .FOOT                                   */
/* ========================================================================== */
.foot {
  width: 100%;
  padding: 5rem;
  padding-top: 6rem;
  background: #00252e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.foot-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  color: white;
}

.foot-info .info-logo {
  -webkit-filter: brightness(0%) invert(1);
          filter: brightness(0%) invert(1);
}

.foot-info span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  max-width: 50ch;
}

.foot-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.foot-about .about {
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.foot-about .about a {
  width: 70px;
  text-decoration: none;
  color: white;
}

.foot-about .about a:hover {
  text-decoration: underline;
}

.foot-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.foot-more .icon {
  padding-top: calc(40px + 2rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.foot-more .icon a {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  color: #00252e;
  border: 2px solid white;
  border-radius: 100px;
  background: white;
}

.foot-more .icon a:hover {
  color: #e652b2;
}

.foot-more .right {
  color: white;
}

@media screen and (max-width: 990.98px) {
  /* ========================================================================== */
  /*                                    .FOOT                                   */
  /* ========================================================================== */
  .foot {
    padding: 2rem;
    padding-top: 6rem;
  }
}

@media screen and (max-width: 767.98px) {
  /* ========================================================================== */
  /*                                    .HEAD                                   */
  /* ========================================================================== */
  .head {
    padding: 2rem 1rem;
  }
  .head-title img {
    max-width: 170px;
    max-height: 70px;
  }
  .head-info {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  /* ========================================================================== */
  /*                                    .MAIN                                   */
  /* ========================================================================== */
  .main {
    padding: 5rem 2rem;
    padding-bottom: 17rem;
  }
  .main-block {
    padding: 2rem 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 4rem;
    text-align: center;
  }
  .main-block .block-title {
    width: 80%;
  }
  .main-build {
    padding: 3rem 2rem;
  }
  .main-build button {
    padding: 1rem 2rem;
  }
  /* ========================================================================== */
  /*                                    .FOOT                                   */
  /* ========================================================================== */
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot-info {
    gap: 1rem;
    width: 100%;
  }
  .foot-info .info-logo {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
  .foot-about {
    gap: 1rem;
    padding: 2rem 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .foot-more {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .foot-more .icon {
    padding-top: 0;
  }
  .foot-more .right {
    text-align: center;
  }
}

@media screen and (max-width: 424.98px) {
  /* ========================================================================== */
  /*                                    .HEAD                                   */
  /* ========================================================================== */
  .head-title {
    gap: 0.5rem;
  }
  .head-title img {
    max-width: 120px;
    max-height: 40px;
  }
  .head-title button {
    padding: 0.8rem 1rem;
  }
  .head-info .info-text h2 {
    font-size: 2rem;
  }
  .head-info .info-text button {
    padding: 0.5rem 2rem;
  }
  /* ========================================================================== */
  /*                                    .MAIN                                   */
  /* ========================================================================== */
  .main-block .block-title {
    width: 100%;
  }
  .main-block .block-title h3 {
    font-size: 1.7rem;
  }
  .main-build {
    padding: 3rem 1rem;
  }
  .main-build h2 {
    font-size: 1.2rem;
  }
  .main-build button {
    padding: 1rem 1rem;
  }
}
/*# sourceMappingURL=main.css.map */